<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/game_style.css">
    <link rel="stylesheet" href="../styles/transitions.css">
    <title>Memory Game - Juego</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <div id="preload-container" class="hidden"></div>
    <div id="black-fade" class="black-fade visible"></div>
    <div class="page-container">
        <div class="game-content">
            <h1>¡Selecciona un nivel!</h1>

            <div class="level_chice_container">
                <figure class="easy_level_figure" style="--c:rgba(116, 235, 112, 0.5);">
                    <img src="../styles/images/gray/easy.png" alt="Easy level">
                    <figcaption>Easy</figcaption>
                </figure>
                <figure class="medium_level_figure" style="--c:rgba(233, 219, 91, 0.5);">
                    <img src="../styles/images/gray/medium.png" alt="Medium level">
                    <figcaption>Medium</figcaption>
                </figure>
                <figure class="hard_level_figure" style="--c:rgba(233, 95, 95, 0.5);">
                    <img src="../styles/images/gray/hard.png" alt="Hard level">
                    <figcaption>Hard</figcaption>
                </figure>
            </div>
            
            <button id="back_btn">Terminar</button>
        </div>
    </div>
    <script src="../scripts/game.js"></script>
</body>
</html>