<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/game_style.css">
    <link rel="stylesheet" href="../styles/transitions.css">
    <title>Memory Game - Juego</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <div id="preload-container" class="hidden"></div>
    <div id="black-fade" class="black-fade visible"></div>
    <div class="page-container">
        <div class="game-content">
            <h1>Página de la partida del Memory Game</h1>
            <button id="back_btn">Terminar</button>
        </div>
    </div>
    <script src="../scripts/game.js"></script>
</body>
</html>