body {
    font-family: Arial, sans-serif;
    background-color: #fdf5e6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #73847f;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    max-width: 1200px;  /* Ancho máximo del header */
    margin: 0 auto;
    margin-top: 10px;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

main {
    padding: 10px;
    width: 80%;
    max-width: 1200px;  /* Mismo ancho máximo que el header */
}

main section {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}   

main section h2 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}   

main section p {
    font-size: 16px;
    text-align: left;
}

main button {
    /* Posicionamiento */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* Dimensiones y estilo */
    width: 200px;  /* Ancho fijo */
    background-color: #ffb6c1;
    color: #fff;
    padding: 30px 50px;
    border-radius: 5px;
    
    /* Tipografía */
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

main button:hover {
    background-color: #fccad1;
    color: #fff;
    cursor: pointer;
}

footer {
    background-color: #73847f;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 16px;
    text-align: center;
}

/* Estilos para la animación de transición */
.page-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.page-content {
    height: 100%;
    width: 100%;
}

/* Clase de animación */
.animate_content {
    animation: animate 2s ease;
}

@keyframes animate {
    10% {
        transform: scale(1, 0.002);
    }
    35% {
        transform: scale(0.2, 0.002);
        opacity: 1;
    }
    50% {
        transform: scale(0.2, 0.002);
        opacity: 0;
    }
    85% {
        transform: scale(1, 0.002);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
    }
}